
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* header {
    flex-direction: column;
} */

ul {
    justify-content: space-around;
}

li {
    display: inline;

}


.board {
    height: 288px;
    width: 281px;
    background-color: grey;
    border: 5px solid black;
    border-radius: 5px;
}


section button {
    height: 35px;
    width: 35px;
    background-color: lightgray;

}

.safe {
    background-color: grey;
    margin-bottom: -15px;
    padding: 0px;
    transform: translateY(-10px);
}

.empty-safe {
    background-color: grey;
}

.danger {
    background-color: red;
}