@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 35, 35);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    text-shadow: -3px 3px 0 darkred;
    font-family: 'Bungee Inline';
    color: lightgrey
}

ul {
    justify-content: space-between;
    transform: translateX(30px);

}

li {
    display: inline;

}

#results, #reset {
    border: 1px solid darkred;
    border-radius: 3px;
    background-color: lightgrey;
}


.board {
    height: 288px;
    width: 281px;
    background-color: grey;
    border: 5px solid darkgray;
    border-radius: 5px;
}


section button {
    height: 35px;
    width: 35px;
    background-color: lightgray;

}

.safe {
    background-color: grey;
    margin-bottom: -15px;
    padding: 0px;
    transform: translateY(-10px);
}

.empty-safe {
    background-color: grey;
}

.danger {
    background-color: red;
    background-image: url(../imgs/mine.png);
    background-size: cover;
    background-position-y: -5px;

}